.intro__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 690px;
}

@media screen and (max-width:767px) {
    .intro__list {
      margin: 0;
    }
}