.header {
    display: flex;
    max-width: 1184px;
    justify-content: space-between;
    margin: auto;
    padding-bottom: 56px;
  }

@media screen and (max-width:1279px) {
  .header {
    max-width: 928px;
    padding-bottom: 48px;
  }
}

@media screen and (max-width:1023px) {
    .header {
      max-width: 720px;

    }
}

@media screen and (max-width:767px) {
    .header {
      max-width: 288px;
    }
}
