.footer__copyright {
    width: 50%;
    margin: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.12;
    font-weight: 400;
    color: #fff;
    display: flex;
    justify-content: right;
}

@media screen and (max-width:767px){
    .footer__copyright {
     line-height: 1;
     justify-content: left;
    }
}