.lead__subtitle {
    max-width: 640px;
    width: 100%;
    margin: 32px auto 64px;
    font-family: 'Inter',Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

@media screen and (max-width:1023px) {
    .lead__subtitle {
      margin: 32px auto 56px;
    }
}

@media screen and (max-width:767px) {
    .lead__subtitle {
      max-width: 280px;
      max-height: 40px;
      margin: 16px auto 40px;
      font-size: 16px;
    }
}
