.cover__title {
    font-family: 'Inter';
    font-size: 4.5rem;
    line-height: 1.05;
    font-weight: 900;
    max-width: 560px;
    min-height: 152px;
    color: #fff;
    margin: 245px auto;
    text-align: center;
}